<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tofer.emptyproject_helloworld">

    <application
        android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@drawable/app_logo1_0_0"
        android:roundIcon="@drawable/app_logo1_0_0"
        android:supportsRtl="true"
		android:screenOrientation="portrait"
		android:theme="@style/AppTheme">
		<!--android:icon="@mipmap/ic_launcher"-->

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".FindStrainsActivity">
			<!--- Place the code chunk below in the activity desired to launch on app startup. -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			android:screenOrientation="portrait"
		</activity>
        <activity android:name=".ConstructorActivity">
			android:screenOrientation="portrait"
		</activity>
        <activity android:name=".MyStrainsActivity">
			android:screenOrientation="portrait"
		</activity>
        <activity android:name=".ResultsActivity">
			android:screenOrientation="portrait"
		</activity>
        <activity android:name=".SupportActivity">
			android:screenOrientation="portrait"
		</activity>
    </application>
</manifest>