<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tofer.emptyproject_helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Canbis Project"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".FindStrainsActivity">
			<!--- Place the code chunk below in the activity desired to launch on app startup. -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".ConstructorActivity"></activity>
        <activity android:name=".MyStrainsActivity"></activity>
        <activity android:name=".ResultsActivity"></activity>
        <activity android:name=".SupportActivity"></activity>
    </application>
</manifest>