<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tofer.emptyproject_helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Canbis Project"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <!--- Place the code chunk below in the activity desired to launch on app startup. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FindStrainsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ConstructorActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".MyStrainsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".SupportActivity"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>